In [1]:
import pandas as pd
import datetime as dt

### Review of datetime Module

In [2]:
someday = dt.date(2010, 1, 20) # creating a date object, stores only the date

In [4]:
someday.year
someday.month
someday.day

20

In [6]:
str(dt.datetime(2010, 1, 10, 8, 13, 57)) # creating a datetime object, stores both date and time

'2010-01-10 08:13:57'

In [8]:
sometime = dt.datetime(2010, 1, 10, 8, 13, 57)

In [11]:
sometime.hour
sometime.minute
sometime.second

57

### The pandas Timestamp Object

In [15]:
pd.Timestamp('2015-03-31') # creating a Timestamp object, passing in a string
pd.Timestamp('1/1/2015') # follows m-d-y by default

Timestamp('2015-01-01 00:00:00')

In [13]:
pd.Timestamp('2013, 11, 04')

Timestamp('2013-11-04 00:00:00')

In [16]:
pd.Timestamp('2021-03-08 08:35:15') # passing in date and time as a string

Timestamp('2021-03-08 08:35:15')

In [19]:
pd.Timestamp(dt.date(2015, 1, 1))
pd.Timestamp(dt.datetime(2015, 1, 1, 21, 34, 32)) # passing in date and datetime objects as args for Timestamp obj creation

Timestamp('2015-01-01 21:34:32')

### The pandas DatetimeIndex Object

In [6]:
dates = ['2016-01-01', '2023-01-03'] # DatetimeIndex is a container for a group of pandas timestamps
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-01', '2023-01-03'], dtype='datetime64[ns]', freq=None)

In [8]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13)] 
dtIndex = pd.DatetimeIndex(dates)

values = [100, 200]
pd.Series(data = values, index = dtIndex) # adding DatetimeIndex(container of dates) as index in series

2016-01-10    100
1994-06-13    200
dtype: int64

### The pd.to_datetime() Method

In [10]:
pd.to_datetime(dt.date(2015, 1, 1)) # converts to timestamp object

Timestamp('2015-01-01 00:00:00')

In [9]:
pd.to_datetime(['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996']) # converts into datetime index obj -> bundle of timestamps

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [3]:
dates = pd.Series(['2015-02-03', '2016'])
dates

0    2015-02-03
1          2016
dtype: object

In [4]:
pd.to_datetime(dates) # converts to timestamps and container to datetimeIndex, keeps 1 format

0   2015-02-03
1   2016-01-01
dtype: datetime64[ns]

In [7]:
test = pd.Series(['July 4th 1996', 'Hello', '2015-02-31']) # 2 wrong dates

pd.to_datetime(test, errors = 'coerce') # use errors param(NAT)for handling wrong dates, won't convert properly otherwise

0   1996-07-04
1          NaT
2          NaT
dtype: datetime64[ns]

In [8]:
pd.to_datetime([1349720105, 1349806505], unit = 's') # converting unix time to pandas timestamps, unit -> secs

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05'], dtype='datetime64[ns]', freq=None)

### Create Range of Dates with pd.date_range() method - Part 1

Creates a range of dates while specifying:

1. start, end paramaters
2. start, periods paramters
3. end, periods paramters

All use Freq parameter

In [3]:
times = pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = '1D') #generates a range of dates varying by a day 
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [4]:
type(times) # gives a datetimeIndex, container of timestamps

pandas.core.indexes.datetimes.DatetimeIndex

In [6]:
times[0] # accessing date from the list, type -> timestamp

Timestamp('2016-01-01 00:00:00', freq='D')

In [8]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'B') # gives only business days, ranges are inclusive

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [9]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'W') # gives day in a week, defaults to Sunday

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [11]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'W-FRI') # takes Friday as the day in the week for the range

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [12]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'H') # lists out every hour in the specified range

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [13]:
pd.date_range(start = '2016-01-01', end = '2016-12-31', freq = 'M') # gives the month end of every month in the range

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [14]:
pd.date_range(start = '2016-01-01', end = '2016-12-31', freq = 'MS') # gives the month start for every month in the range

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [15]:
pd.date_range(start = '2016-01-01', end = '2050-01-10', freq = 'A') # gives the year end of every year in the range

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

### Create Range of Dates with pd.date_range() method - Part 2

In [16]:
pd.date_range(start = '2012-09-09', periods = 25, freq = 'D')# periods specifies the no.of values we want returned->25 days

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [18]:
business_days = pd.date_range(start = '2012-09-09', periods = 50, freq = 'B') # returns 50 business days
business_days

In [19]:
len(business_days)

50

In [21]:
pd.date_range(start = '2012-09-09', periods = 10, freq = 'W-TUE') # returns 10 weeks starting on Tuesday

DatetimeIndex(['2012-09-11', '2012-09-18', '2012-09-25', '2012-10-02',
               '2012-10-09', '2012-10-16', '2012-10-23', '2012-10-30',
               '2012-11-06', '2012-11-13'],
              dtype='datetime64[ns]', freq='W-TUE')

In [23]:
pd.date_range(start = '2012-09-09', periods = 20, freq = '6H') # gives 20 6hr periods from start date

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00'],
              dtype='datetime64[ns]', freq='6H')

### Create Range of Dates with pd.date_range() method - Part 3

In [24]:
pd.date_range(end = '1999-12-31', periods = 20, freq = 'D') # gives 20 days before the end date

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [26]:
pd.date_range(end = '1999-12-31', periods = 20, freq = 'W-SUN') # gives 20 weeks starting with Sunday before the end point

DatetimeIndex(['1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [27]:
pd.date_range(end = '1999-12-31', periods = 10, freq = 'MS') # gives 10 month starts before the end date.

DatetimeIndex(['1999-03-01', '1999-04-01', '1999-05-01', '1999-06-01',
               '1999-07-01', '1999-08-01', '1999-09-01', '1999-10-01',
               '1999-11-01', '1999-12-01'],
              dtype='datetime64[ns]', freq='MS')

### The .dt Accessor

In [28]:
bunch_of_dates = pd.date_range(start = '2000-01-01', end = '2010-12-31', freq = '24D')

In [29]:
s = pd.Series(bunch_of_dates) # creates a series of pandas datetime objects
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [30]:
s.dt.day # gives the day no. for every entry (month also works)

# have to add the .dt accessor to perfrom actions on dates(timestamps) in pandas

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [35]:
s.dt.weekday # give the weekday(in numbers format), can be used to check freq for some statistic

0      5
1      1
2      4
3      0
4      3
      ..
163    4
164    0
165    3
166    6
167    2
Length: 168, dtype: int64

In [36]:
s.dt.is_quarter_start # generates a boolean series, true if dates represents start of a quarter, can be used as a mask

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [39]:
mask = s.dt.is_quarter_start # using it as a mask
s[mask] # found how many quarter starting dates are present in the series, can be used for more interesting findings

# many more options like is_month_end, is_quarter_end etc. are also available.

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

### Import Financial Dataset with pandas_datareader Library

Library for fetching financial data and returning it as a DataFrame.

In [2]:
from pandas_datareader import data

In [32]:
stocks = data.DataReader(name = 'MSFT', data_source = 'stooq', start = '2010-01-01', end = '2020-12-31')
stocks.head(3)
# financial dataframe fetched from API using pandas_datareader library, MSFT -> Microsoft stock

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07

In [11]:
stocks.values
stocks.columns
stocks.index
stocks.axes  # common operations on stocks df

[DatetimeIndex(['2020-12-31', '2020-12-30', '2020-12-29', '2020-12-28',
                '2020-12-24', '2020-12-23', '2020-12-22', '2020-12-21',
                '2020-12-18', '2020-12-17',
                ...
                '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
                '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
                '2010-01-05', '2010-01-04'],
               dtype='datetime64[ns]', name='Date', length=2769, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')]

### Selecting rows from a DataFrame with a DatetimeIndex

In [5]:
stocks.loc['2010-01-04']
stocks.loc[pd.Timestamp('2010-01-04')] # extracting a row from the df using index labels

Open      2.408540e+01
High      2.443890e+01
Low       2.403580e+01
Close     2.431780e+01
Volume    4.886916e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [6]:
stocks.iloc[0] # extrating row from df based on index position
stocks.iloc[500]
stocks.iloc[-1] # extracting last row from df

Open      2.408540e+01
High      2.443890e+01
Low       2.403580e+01
Close     2.431780e+01
Volume    4.886916e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [9]:
# Extracting multiple rows from df -> feed a list 
# Will give error if a date that is not in the df is passed
stocks.loc[[pd.Timestamp('2010-01-04'), pd.Timestamp('2010-01-05')]] # have to use pd.Timestamp() here

               Open     High      Low    Close        Volume
Date
2010-01-04  24.0854  24.4389  24.0358  24.3178  4.886916e+07
2010-01-05  24.2542  24.4389  24.0765  24.3267  6.331174e+07

In [10]:
stocks.loc['2013-10-01' : '2013-10-07'] # slicing in python/pandas df, ranges are inclusive when using .loc[]

               Open     High      Low    Close        Volume
Date
2013-10-07  28.3306  28.4209  27.9940  28.0754  4.159240e+07
2013-10-04  28.4059  28.6601  28.3484  28.5668  3.913007e+07
2013-10-03  28.5668  28.6661  28.1747  28.5489  4.590812e+07
2013-10-02  28.1260  28.6928  28.0665  28.5976  5.566476e+07
2013-10-01  28.1102  28.3395  28.0754  28.3106  4.352740e+07

In [11]:
stocks.truncate(before = '2013-10-01', after = '2013-10-07') # .truncate() -> same as slicing df using pandas

               Open     High      Low    Close        Volume
Date
2013-10-07  28.3306  28.4209  27.9940  28.0754  4.159240e+07
2013-10-04  28.4059  28.6601  28.3484  28.5668  3.913007e+07
2013-10-03  28.5668  28.6661  28.1747  28.5489  4.590812e+07
2013-10-02  28.1260  28.6928  28.0665  28.5976  5.566476e+07
2013-10-01  28.1102  28.3395  28.0754  28.3106  4.352740e+07

In [13]:
stocks.iloc[1000 : 1005] # slicing with df's index positions, exclusive range when using .iloc[]

               Open     High      Low    Close        Volume
Date
2017-01-11  57.6727  58.2436  57.5069  58.2079  2.218117e+07
2017-01-10  57.7830  58.0976  57.3689  57.6816  1.849459e+07
2017-01-09  57.8097  58.1075  57.6073  57.7015  2.018532e+07
2017-01-06  57.3868  58.1701  57.1456  57.8842  1.907929e+07
2017-01-05  57.2856  57.7193  57.1357  57.3868  2.318354e+07

In [17]:
# Challenge -> Find Microsoft stock price on your birthdays every year

birthdays = pd.date_range(start = '1998-05-25', end = '2023-12-31', freq = pd.DateOffset(years = 1))
birthdays
# Use this freq param instead of 365 days to account for leap years etc.

DatetimeIndex(['1998-05-25', '1999-05-25', '2000-05-25', '2001-05-25',
               '2002-05-25', '2003-05-25', '2004-05-25', '2005-05-25',
               '2006-05-25', '2007-05-25', '2008-05-25', '2009-05-25',
               '2010-05-25', '2011-05-25', '2012-05-25', '2013-05-25',
               '2014-05-25', '2015-05-25', '2016-05-25', '2017-05-25',
               '2018-05-25', '2019-05-25', '2020-05-25', '2021-05-25',
               '2022-05-25', '2023-05-25'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [18]:
birthdays_stocks = stocks.index.isin(birthdays)
stocks.loc[birthdays_stocks]  # gives the stock Microsoft stock info on birthday, skips weekends since market is closed.

               Open     High      Low    Close        Volume
Date
2018-05-25  93.4084  94.0536  92.9903  93.4648  1.932557e+07
2017-05-25  64.2845  65.1314  64.2270  64.8871  2.343119e+07
2016-05-25  47.2139  47.7282  47.0929  47.4095  2.281371e+07
2012-05-25  23.7231  23.8542  23.5692  23.6109  3.631814e+07
2011-05-25  19.1236  19.2269  19.1078  19.1306  4.391404e+07
2010-05-25  20.1561  20.6913  19.9417  20.4828  1.249413e+08

### Timestamp Object Attributes and Methods

In [21]:
someday = stocks.index[500] # accessing df index(DatetimeIndex -> Timestamp object)
someday

Timestamp('2019-01-08 00:00:00')

In [25]:
# Attributes for Timestamp object
someday.month
someday.week
someday.is_month_start
someday.is_quarter_end
someday.day

8

In [28]:
# Methods for timestamp object
someday.month_name() 
someday.day_name() # returns the month, day in string format instead of numerical format

'Tuesday'

In [29]:
stocks.index.day_name() # returns the day name for all indexes of df

Index(['Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Thursday', 'Wednesday',
       'Tuesday', 'Monday', 'Friday', 'Thursday',
       ...
       'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Friday',
       'Thursday', 'Wednesday', 'Tuesday', 'Monday'],
      dtype='object', name='Date', length=2769)

In [33]:
stocks.insert(0, 'Day of Week', stocks.index.day_name()) # inserting a new column in df
stocks.head()

           Day of Week     Open     High      Low    Close        Volume
Date
2020-12-31    Thursday  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30   Wednesday  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29     Tuesday  222.350  223.214  219.659  220.205  1.771353e+07
2020-12-28      Monday  220.504  222.071  219.123  221.010  1.825327e+07
2020-12-24    Thursday  217.545  219.689  217.326  218.855  1.073870e+07

In [35]:
stocks.insert(1, 'Is Start of Month', stocks.index.is_month_start) # adding a new bool column

In [38]:
stocks[stocks['Is Start of Month']] # filtering data based on condition

,Day of Week,Is Start of Month,Open,High,Low,Close,Volume
Date,,,,,,,
2020-12-01,Tuesday,True,210.7540,213.5230,209.6020,212.4220,3.148286e+07
2020-10-01,Thursday,True,209.1950,209.6820,207.0900,208.2030,2.771505e+07
2020-09-01,Tuesday,True,220.9700,222.8960,219.9170,222.7170,2.631985e+07
2020-07-01,Wednesday,True,198.5920,201.7210,197.2420,200.1020,3.279741e+07
2020-06-01,Monday,True,178.4290,178.8860,177.3870,178.7180,2.318935e+07
...,...,...,...,...,...,...,...
2010-07-01,Thursday,True,18.1428,18.3235,17.8589,18.1964,1.173523e+08
2010-06-01,Tuesday,True,20.0906,20.6763,20.0559,20.3438,9.687786e+07
2010-04-01,Thursday,True,23.0619,23.2089,22.4861,22.9120,9.513903e+07
2010-03-01,Monday,True,22.6053,22.8277,22.4196,22.8048,5.570803e+07
2010-02-01,Monday,True,22.3144,22.3809,21.9382,22.3234,1.092082e+08

### The pd.DateOffset Object

In [39]:
stocks['High'] + 5 # adding 5 to every value of 'High' column in df

Date
2020-12-31    224.1040
2020-12-30    226.6740
2020-12-29    228.2140
2020-12-28    227.0710
2020-12-24    224.6890
                ...
2010-01-08     29.2642
2010-01-07     29.1232
2010-01-06     29.4230
2010-01-05     29.4389
2010-01-04     29.4389
Name: High, Length: 2769, dtype: float64

In [40]:
# To do this with Timestamps (datetimeIndex) throughout the df, use pd.DateOffset

stocks.index + pd.DateOffset(days = 5) # adds 5 days to every date in the df

DatetimeIndex(['2021-01-05', '2021-01-04', '2021-01-03', '2021-01-02',
               '2020-12-29', '2020-12-28', '2020-12-27', '2020-12-26',
               '2020-12-23', '2020-12-22',
               ...
               '2010-01-20', '2010-01-19', '2010-01-18', '2010-01-17',
               '2010-01-16', '2010-01-13', '2010-01-12', '2010-01-11',
               '2010-01-10', '2010-01-09'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [41]:
stocks.index + pd.DateOffset(weeks = 2) # Adds 2 weeks to every date(you can then use this as a new Index for the df)

DatetimeIndex(['2021-01-14', '2021-01-13', '2021-01-12', '2021-01-11',
               '2021-01-07', '2021-01-06', '2021-01-05', '2021-01-04',
               '2021-01-01', '2020-12-31',
               ...
               '2010-01-29', '2010-01-28', '2010-01-27', '2010-01-26',
               '2010-01-25', '2010-01-22', '2010-01-21', '2010-01-20',
               '2010-01-19', '2010-01-18'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [42]:
stocks.index + pd.DateOffset(years = 1, months = 3, days = 2, hours = 6, minutes = 2) # adds this to every date

DatetimeIndex(['2022-04-02 06:02:00', '2022-04-01 06:02:00',
               '2022-03-31 06:02:00', '2022-03-30 06:02:00',
               '2022-03-26 06:02:00', '2022-03-25 06:02:00',
               '2022-03-24 06:02:00', '2022-03-23 06:02:00',
               '2022-03-20 06:02:00', '2022-03-19 06:02:00',
               ...
               '2011-04-17 06:02:00', '2011-04-16 06:02:00',
               '2011-04-15 06:02:00', '2011-04-14 06:02:00',
               '2011-04-13 06:02:00', '2011-04-10 06:02:00',
               '2011-04-09 06:02:00', '2011-04-08 06:02:00',
               '2011-04-07 06:02:00', '2011-04-06 06:02:00'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

### Timeseries Offsets

In [3]:
stocks = data.DataReader(name = 'MSFT', data_source = 'stooq', start = '2010-01-01', end = '2020-12-31')
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07

In [ ]:
stocks.index + pd.tseries.offsets.MonthEnd()